#root{
    max-width: 1280px;
    margin:0 auto;
    padding: 2rem;
    text-align: center;
    
}

body{
    background-color: #000;
}
.App {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.App form{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.decks{

    display: grid;
    width: 600px;
    margin: 0 auto;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
   
}
.decks li{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 120px;
    background-color:#fff;
    border-radius: 5px;
    color: #000;
    list-style-type: none;
}

.decks li:hover{
    cursor: pointer;
    background-color: #fff;
    color: #000;
}



form label {
    color: #fff;
    font-size: 16px;
}

form input{
    outline: none;
}
form button{
    background-color: white;
    border-radius: 5px;
    color: black;
    padding: 4px;
}

.decks li button{
    position:absolute;
    font-size: 14px;
    top: 0;
    right:0;
}